# Secure defaults
# See: https://stribika.github.io/2015/01/04/secure-secure-shell.html
MaxAuthTries 6

Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

# Faster connection
# See: https://github.com/atmoz/sftp/issues/11
UseDNS no

# Limited access
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no

#-----------------------------------------------------------------------
# Added by Morten Knudsen
mkdir -p /sftp/

chown root:root /sftp
chmod -R 755 /sftp/

# Changed by Morten Knudsen, 2LINKIT
Subsystem sftp internal-sftp -f AUTH -l VERBOSE
ForceCommand internal-sftp -f AUTH -l VERBOSE
ChrootDirectory /sftp

# Enable this for more logs
LogLevel VERBOSE
